:root {
  --backgroundColor: #f4f4f4;
  --primaryColor: #775d46;
  --secondaryColor: #ecc5a3;
  --tertiaryColor: #e4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

body {
  color: var(--primaryColor);
}

section {
  padding: 0 5rem;
}

.section-title {
  color: var(--primaryColor);
  font-weight: 700;
  font-size: 1.8rem;
  padding: 3rem 0 1.2rem;
}

#about,
#gallery,
#contact {
  padding-bottom: 4rem;
  overflow-x: hidden;
}

/* Navbar Section */
.navbar-nav {
  background-color: #fff;
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-nav .navbar-logo a {
  font-size: 2rem;
  font-weight: 900;
  color: var(--primaryColor);
}

.navbar-nav .navbar-ekstra ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar-nav .navbar-ekstra a {
  color: var(--secondaryColor);
  font-weight: 500;
}

.navbar-nav .navbar-ekstra a:hover,
.navbar-nav .navbar-ekstra a.active {
  color: var(--primaryColor);
}

.hamburger-menu > div {
  width: 25px;
  height: 2px;
  margin: 7px;
  background-color: var(--primaryColor);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.hamburger-menu {
  display: none;
}

/* Home Section */
#home {
  padding-bottom: 4rem;
  padding-top: 8rem;
  overflow-x: hidden;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.home-grid .home-left h3 {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--primaryColor);
}

.home-grid .home-left h2 {
  font-weight: 700;
  font-size: 4rem;
  color: var(--secondaryColor);
}

.home-grid .home-left a {
  display: block;
  color: #fff;
  font-weight: 500;
  background-color: var(--primaryColor);
  text-align: center;
  width: 98%;
  margin-top: 1rem;
  padding: 0.6rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.home-grid .home-right {
  text-align: end;
}

.home-grid .home-right img {
  width: 80%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.home-category .home-grid-category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 3rem;
  text-align: center;
}

.home-category .grid-1,
.home-category .grid-2,
.home-category .grid-3,
.home-category .grid-4,
.home-category .grid-5,
.home-category .grid-6 {
  background-color: var(--backgroundColor);
  padding: 2rem 0 4rem;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.home-category p {
  margin-top: 1.2rem;
  font-weight: 400;
  color: var(--primaryColor);
}

.home-category i {
  background-color: var(--tertiaryColor);
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--primaryColor);
}

/* About Section */
#about {
  background-color: var(--backgroundColor);
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
}

.about-grid img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.about-grid .paragraf h1 {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--primaryColor);
  margin-bottom: 0.5rem;
}

.about-grid .paragraf p {
  color: var(--primaryColor);
  line-height: 1.5rem;
  font-size: 1rem;
}

/* Gallery Section */
#gallery > h1 {
  text-align: end;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.gallery-grid .product-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.gallery-grid p {
  line-height: 1.5rem;
}

.gallery-grid img {
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* Contact Section */
.contact-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.contact-grid .contact-left img {
  width: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.contact-left,
.contact-right {
  background-color: var(--backgroundColor);
  padding: 2.5rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.contact-left .social-media ul {
  margin-top: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contact-left .social-media li {
  background-color: var(--tertiaryColor);
  padding: 0.5rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.contact-left .social-media a {
  color: var(--primaryColor);
}

.contact-right input,
.contact-right textarea {
  width: 100%;
  resize: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 30px;
  border: none;
  font-size: 1rem;
  color: var(--primaryColor);
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.contact-right input::placeholder,
.contact-right textarea::placeholder {
  color: var(--primaryColor);
}

.contact-right input:focus,
.contact-right textarea:focus {
  outline: none;
  border: 1px solid var(--primaryColor);
}

.contact-right button {
  width: 100%;
  cursor: pointer;
  background-color: var(--primaryColor);
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

/* Footer Section */
footer {
  padding: 1rem 5rem 0;
  border-top: 1px solid var(--primaryColor);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.footer-grid a {
  color: var(--primaryColor);
}

.footer-grid a:hover {
  border-bottom: 1px solid var(--primaryColor);
}

.footer-grid li {
  margin-bottom: 1rem;
}

.footer-grid img {
  width: 30%;
  margin-right: 1rem;
}

.footer-grid i {
  margin-right: 0.5rem;
}

.footer-grid .store-open {
  display: flex;
  align-items: center;
}

footer .copyright {
  margin-top: 1rem;
  text-align: center;
}

/* Media Query */
@media (max-width: 992px) {
  section {
    padding: 0 3rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .navbar-nav {
    padding: 1rem 3rem;
  }

  .home-grid .home-left h3 {
    font-size: 2rem;
  }

  .home-grid .home-left h2 {
    font-size: 2.4rem;
  }

  .home-grid .home-left a {
    width: 96%;
  }

  .home-category .home-grid-category {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }

  .home-category .grid-1,
  .home-category .grid-2,
  .home-category .grid-3,
  .home-category .grid-4,
  .home-category .grid-5,
  .home-category .grid-6 {
    padding: 2rem 0 3rem;
  }

  .about-grid .paragraf h1 {
    font-size: 2rem;
  }

  footer {
    padding: 1rem 3rem 0;
  }

  .contact-left,
  .contact-right {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0 2rem;
  }

  .section-title {
    font-size: 1.5rem;
    padding: 3rem 0 1.2rem;
  }

  .navbar-nav {
    padding: 1rem 2rem;
  }

  .navbar-nav .navbar-logo a {
    font-size: 1.8rem;
  }

  .hamburger-menu {
    display: block;
  }

  .hamburger-menu.close > div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    -moz-transform: rotate(-45deg) translate(-5px, 6px);
    -ms-transform: rotate(-45deg) translate(-5px, 6px);
    -o-transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger-menu.close > div:nth-child(2) {
    transform: scale(0);
    transition: 0.3s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
  }

  .hamburger-menu.close > div:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -7px);
    transition: 0.3s ease-in-out;
    -webkit-transform: rotate(45deg) translate(-6px, -7px);
    -moz-transform: rotate(45deg) translate(-6px, -7px);
    -ms-transform: rotate(45deg) translate(-6px, -7px);
    -o-transform: rotate(45deg) translate(-6px, -7px);
  }

  .navbar-nav .navbar-ekstra {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 50%;
    height: 100vh;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }

  .navbar-nav .navbar-ekstra.active {
    right: 0;
  }

  .navbar-nav .navbar-ekstra ul {
    display: block;
    text-align: center;
  }

  .navbar-nav .navbar-ekstra li {
    margin: 2rem;
  }

  #home {
    padding-top: 6rem;
  }

  .home-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .home-grid .home-right {
    order: -1;
  }

  .home-grid .home-left h3 {
    font-size: 1.8rem;
  }

  .home-grid .home-left h2 {
    font-size: 2.2rem;
  }

  .home-grid .home-left a {
    width: 100%;
  }

  .home-grid .home-right img {
    width: 100%;
  }

  .home-category i {
    font-size: 2rem;
  }

  .home-category .home-grid-category {
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  }

  .about-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .about-grid .paragraf h1 {
    font-size: 2.2rem;
  }

  .contact-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .contact-left,
  .contact-right {
    padding: 1.5rem;
  }

  footer {
    padding: 1rem 2rem 0;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .footer-grid img {
    width: 34%;
  }

  footer .copyright {
    margin-top: 1rem;
  }
}

@media (max-width: 567px) {
  .home-grid .home-left h3 {
    font-size: 1.6rem;
  }

  .home-grid .home-left h2 {
    font-size: 2rem;
  }

  .about-grid .paragraf h1 {
    font-size: 2rem;
  }

  .footer-grid img {
    width: 33%;
  }
}

@media (max-width: 320px) {
  .home-grid .home-left h3 {
    font-size: 1.3rem;
  }

  .home-grid .home-left h2 {
    font-size: 1.7rem;
  }

  .about-grid .paragraf h1 {
    font-size: 1.7rem;
  }

  .home-grid .home-left a {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .contact-left,
  .contact-right {
    padding: 1rem;
  }

  .contact-left .social-media li {
    font-size: 0.8rem;
  }

  .contact-right input,
  .contact-right textarea {
    padding: 0.8rem;
    font-size: 0.9rem;
  }

  .contact-right button {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .footer-grid img {
    width: 25%;
  }
}
